{% extends "main/base.html" %}
{% load static %}
{% load humanize %}

{% block content %}
    <div class="country-choice disabled">
        <div class="container">
            <div class="country-choice-header">
                <h2>Выберите страну</h2>
                <img src="{% static 'img/close.png' %}" alt="" onclick="toggleCountryChoice()" style="cursor: pointer;">
            </div>
            <img src="{% static 'img/loupe.png' %}" alt="" style="position: absolute; padding: 10px;" width="18px" height="18px">
            <input type="text" id="search" placeholder="Поиск" oninput="searchUpdate()">
            <div class="country-list">
                {% for key, item in countryList.items %}
                    <a href="/{{ key|lower }}">{{ item }}</a>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="container">
        <header>
            {% if countryName == 'Россия' %}
                <a href="region" style="text-decoration: none; color: black; font-size: 18px; margin-right: 50px;">Регионы</a>
            {% endif %}
            <a class="country-choice-label" onclick="toggleCountryChoice()">{{ countryName }} <img class="arrow" src="{% static 'img/arrow.svg' %}" height="20px" width="20px"></img></a>
        </header>
        <div class="covid-info">
            <div class="label">
                <div class="left">
                    <h1 class="covid-data-label">Данные по COVID-19</h1>
                    <h3 class="last-update">Последнее обновление: {{ lastUpdated }}</h3>
                </div>
                <div class="right">
                    <img src="{% static 'img/no-virus.png' %}" alt="" class="virus-img">
                </div>
            </div>
            <div class="country-name">{{ countryName }}</div>
            <div class="covid-data">
                <div class="data-block">
                    <div class="number" style="color: #C2410C" id="infected">{{ data.cases|intcomma }}</div>
                    <div class="label">Всего заболеваний</div>
                </div>
                <div class="data-block">
                    <div class="number" style="color: #065F46" id="recovered">{{ data.recovered|intcomma }}</div>
                    <div class="label">Выздоровело</div>
                </div>
                <div class="data-block">
                    <div class="number" style="color: #C2410C" id="infected-day">{{ data.todayCases|intcomma }}</div>
                    <div class="label">Выявлено за последние сутки</div>
                </div>
                <div class="data-block">
                    <div class="number" style="color: #000" id="deaths">{{ data.deaths|intcomma }}</div>
                    <div class="label">Человек умерло</div>
                </div>
                <div class="data-block">
                    <div class="number" style="color: #000" id="deaths">{{ data.todayDeaths|intcomma }}</div>
                    <div class="label">Умерло за сутки</div>
                </div>
                <div class="data-block">
                    <div class="number" style="color: #EF4444" id="deaths">{{ data.active|intcomma }}</div>
                    <div class="label">Активных случаев</div>
                </div>
            </div>
        </div>
        {% if history != 'no_data' %}
        <div class="world-stats" style="margin-top: 100px;">
        {% if countryName == 'Мир' %}
                <h1>Мировая статистика</h1>
                <div class="top-countries" style="margin-top: 50px; border-bottom: 2px solid #A3A3A3; padding-bottom: 30px;">
                    <div style="display: flex; justify-content: center; color: #7F1D1D;"><h2>Страны с наибольшим количеством заражений</h2></div>
                    <canvas id="top-cases"></canvas>
                </div>
                <div class="top-countries" style="margin-top: 50px;">
                    <div style="display: flex; justify-content: center; color: #7F1D1D;"><h2>Страны с наибольшим количеством смертей</h2></div>
                    <canvas id="top-deaths"></canvas>
                </div>
            {% endif %}
        </div>
        <div class="stats" style="margin-top: 200px;">
            <h1>Статистика</h1>
            <div class="cases-stats" style="margin-top: 50px; border-bottom: 2px solid #A3A3A3; padding-bottom: 30px;">
                <div style="display: flex; justify-content: center; color: #7F1D1D;"><h2>Случаи заражения</h2></div>
                <canvas id="canvas-cases"></canvas>
                <div class="timespan-choose">
                    <a id="cases30d" onclick="graphCases(30, 'cases30d')">30д</a>
                    <a id="cases90d" onclick="graphCases(90, 'cases90d')">90д</a>
                    <a id="cases180d" onclick="graphCases(180, 'cases180d')">180д</a>
                    <a class="active" id="casesalld" onclick="graphCases('all', 'casesalld')">Все</a>
                </div>
            </div>
            <div class="cases-deaths" style="margin-top: 50px;">
                <div style="display: flex; justify-content: center; color: #000;"><h2>Смерти</h2></div>
                <canvas id="canvas-deaths"></canvas>
                <div class="timespan-choose">
                    <a id="deaths30d" onclick="graphDeaths(30, 'deaths30d')">30д</a>
                    <a id="deaths90d" onclick="graphDeaths(90, 'deaths90d')">90д</a>
                    <a id="deaths180d" onclick="graphDeaths(180, 'deaths180d')">180д</a>
                    <a class="active" id="deathsalld" onclick="graphDeaths('all', 'deathsalld')">Все</a>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
    <script>
        let no_data = 'no_data'
        let countries = { {% for key, item in countryList.items %}{{ key }}: '{{ item }}', {% endfor %} }
        let history = {{ history|safe }}
        let topCases = {{ topCases|safe }}
        let topDeaths = {{ topDeaths|safe }}
    </script>
    <script src="{% static 'js/script.js' %}"></script>
{#<canvas id="canvas"></canvas>#}
{% endblock %}